<div id="myPopup">
	<div id="topBar"></div>
	<a id="popupClose">x</a>
	<h1>Important message text!</h1>
	<p>You may close this at any point by clicking off the window, or by using the top right corner 'X' button. jQuery is very forgiving in this regard :)</p>
	<br />
	<button style="width:120px;padding:6px 4px;">Confirm btn</button>
	<br /><br />
	<button style="width:200px;">Longer Button</button>	
</div>
<div id="backgroundPopup"></div>